<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<div class="recent_actions">
       	<div class="recent_action_word">ლ(╹◡╹ლ)最新动态:</div>
        <div  class="blank"> </div>
        <div  class="recent_action_status" style="float:left">
        <div class="singel_status">
        <a class="user_color">Catina</a>在2017年4月33日下载视频  <a class="video_color">十里送红军</a> ，点击查看详情；
        </div>
        <div class="singel_status">
        <a class="user_color">Candy</a>在2017年4月上传图片集  <a class="video_color">54543432scac324</a> ，点击查看详情；
     	 </div>
       <div class="singel_status">
       	 <a class="user_color">Lilei</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div>
           <div class="singel_status">
       	 <a class="user_color">ewre</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div> 
          <div class="singel_status">
       	 <a class="user_color">vxv</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div>
          <div class="singel_status">
       	 <a class="user_color">xv</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div>  <div class="singel_status">
       	 <a class="user_color">nfg</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div>  <div class="singel_status">
       	 <a class="user_color">fhfg</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div>  <div class="singel_status">
       	 <a class="user_color">h</a>在2017年4月33日发表博客  <a class="video_color">论写的代码的辛酸苦辣</a> ，点击查看详情；
         </div>
         
         <div><a class="video_color">点击查看更多最新动态>></a></div>
         
        </div>
        
       
       
       </div>
</body>
</html>
