@charset "utf-8";
.title_top {
	height: 60px;
	background-color: #30Fs;
	opacity: 0.50;
}
.welcome_div{
	margin-top:10px;
}
.welcome_top {
	margin-left: 40px;
	color: #FFF;
	font-size: 14px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.title_content {
	width: 400px;
	height: 60px;
	margin-left: 800px;
	margin-top: 20px;
}
.title_content ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.title_content li {
	color:#009;
	font-size: 20px;
	float: left;
	width: 25%;
	font-style: "寰蒋闆呴粦"
}

